<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->
<div class="mainContent-wrap">
  <div class="mainContent-container">
    <div class="mainText-container">
      <p>Become English Master</p>
      <div class="learnText">
        <p>Learn English Online</p>
        <p>Build up your skills.</p>
      </div>
      <div class="newQuesBox">
        <p>새 질문 올리기</p>
      </div>
    </div>
    <img src="/images/Analytic.png" alt="image" />
  </div>
</div>
<div class="banner-wrap">
  <div class="banner-container">
    <div class="success-group">
      <img src="/images/success.png" alt="" />
      <p class="bannerText">아직 <strong>아무도 풀지 못한</strong> 문제</p>
    </div>
    <div class="time-group">
      <div class="realtime-container">
        <p>11</p>
        <p>11</p>
        <p>11</p>
        <p>11</p>
      </div>
      <div class="timeText-container">
        <p>Days</p>
        <p>Days</p>
        <p>Days</p>
        <p>Days</p>
      </div>
    </div>
  </div>
</div>
<div class="question-wrap"></div>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->
