<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->
<div class="mainContent-wrap">
  <div class="mainContent-container">
    <div class="mainText-container">
      <p>Become English Master</p>
      <div class="learnText">
        <p>Learn English Online</p>
        <p>Build up your skills.</p>
      </div>
      <div class="newQuesBox">
        <p>새 질문 올리기</p>
      </div>
    </div>
    <img src="/images/Analytic.png" alt="image" />
  </div>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->
