<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Schoolmate</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
</head>

<body>
  <header id="header">
    <nav class="container">
      <div class="location-container">
        <img src="/images/icon-location.png" alt="" />
        <p>경기도 안산시 단원구 와동 사세충열로 94</p>
      </div>
      <div class="mail-container">
        <img src="images/icon-email.png" alt="" />
        <p>jungin7612@dimigo.hs.kr</p>
      </div>
    </nav>
    <div class="main-container">
      <div class="logo-container">
        <img src="images/icon-logo.png" alt="" />
        <a href="#">Schoolmate</a>
      </div>
      <nav class="main-nav">
        <a href="#" class="transition hover-class">
          <p>Home</p>
        </a>
        <a href="#" class="transition hover-class">
          <p>게시판</p>
        </a>
        <a href="#" class="transition hover-class">
          <p>문제 풀기</p>
        </a>
        <a href="#" class="transition hover-class">
          <p>학습 플래너</p>
        </a>
        <!-- profile -->
        <div class="profile-container">
          <div class="profile-img"></div>
          <div class="welcome-container">
            <p>안녕하세요.</p>
            <p><span id="name">OOO </span>학생</p>
          </div>
          <i class="fas fa-bars"></i>
        </div>
        <!-- profile -->
      </nav>
    </div>
  </header>
  뭔가가 들어가겠죠
  <footer>
    <div class="footer-container">
      <div class="main-container">
        <div class="information-container">
          <div class="logo-container">
            <img src="images/icon-logo-light.png" alt="">
            <a href="#">Schoolmate</a>
          </div>
          <div class="location-container">
            <img src="/images/icon-location-light.png" alt="" />
            <p>경기도 안산시 단원구 와동 사세충열로 94</p>
          </div>
          <div class="mail-container">
            <img src="images/icon-email-light.png" alt="" />
            <p>jungin7612@dimigo.hs.kr</p>
          </div>
          <div class="phone-container">
            <img src="images/icon-phone-light.png" alt="">
            <p>010-2213-4083</p>
          </div>
        </div>
        <div class="navi-container">
          <div class="navi-content">
            <p class="navi-title">navi1</p>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
          </div>
          <div class="navi-content">
            <p class="navi-title">navi2</p>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
          </div>
          <div class="navi-content">
            <p class="navi-title">navi3</p>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
            <a href="#">ㅋㅋ</a> <br>
          </div>
        </div>
      </div>
      <div class="bottom-container">
        <div class="copyright-container">

        </div>
        <div class="social-container">

        </div>
      </div>
    </div>
  </footer>
</body>

</html>