<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->

<link rel="stylesheet" href="/stylesheets/planner.css" />

<div class="temp-wrapper">
  <img class="temp-image" src="/images/calender_temp.png" />
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->
