<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->

<link rel="stylesheet" href="/stylesheets/qna.css" />

<div class="findQna-Wrap">
  <div class="findQna-container">
    <img src="/images/qna-people.png" alt="" id="findPeopleImg" />
    <div class="findText-container">
      <h2>무엇이든 찾아보세요 !</h2>
      <div class="search-wrap">
        <div class="search">
          <input
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?"
          />
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <a href="/qna/newpost" class="newQna-box">
        <img src="/images/plusBtn.svg" alt="" />
        <h3>새로운 질문 올리기</h3>
      </a>
    </div>
  </div>
</div>
<div class="qnaLists-wrap">
  <div class="qnaLists-container">
    <h1>Questions</h1>
    <div class="qnaLists-group"><%- qnaList %></div>
    <div class="paging"></div>
  </div>
</div>
<div class="qnaPageLists-wrap"><%- qnaPageList %></div>
<script src="/javascript/qna.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->
