<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schoolmate</title>
    <link rel="stylesheet" href="/stylesheets/_header_signin.css" />
  </head>
  <body>
    <header id="header">
      <div class="main-container">
        <div class="logo-container">
          <img src="/images/icon-logo.png" alt="" />
          <a href="#">Schoolmate</a>
        </div>
      </div>
    </header>
    <article>
      <div class="sign-container">
        <div class="wrap">
          <div class="signText-container">
            <h1>Sign in</h1>
            <p>to your Schoolmate account</p>
          </div>
          <div class="credentials-container">
            <div class="input-cotainer">
              <div class="email-group">
                <input
                  name="email"
                  type="email"
                  id="emailForSignIn"
                  class="txt-input email"
                  placeholder="Email"
                />
                <label for="emailForSignIn"></label>
              </div>
              <div class="pwd-group">
                <input
                  name="password"
                  type="password"
                  id="passwordForSignIn"
                  class="txt-iput password"
                  placeholder="Password"
                />
                <label for="passwordForSignIn"></label>
              </div>
            </div>
          </div>
          <footer class="footer-block">
            <form action="#" method="post">
              <button type="submit" name="login" class="login-button">
                Sign In
              </button>
            </form>
            <div class="note">
              <p class="signUp-block">
                Don't have an account? <span>Sign up</span>
              </p>
              <p class="forgot-block">Forgot <span>password?</span></p>
            </div>
            <div></div>
          </footer>
        </div>
      </div>
    </article>
  </body>
</html>
