<footer>
    <div class="footer-container">
      <div class="main-container">
        <div class="information-container">
          <div class="logo-container">
            <img src="/images/icon-logo-light.png" alt="">
            <a href="#">Schoolmate</a>
          </div>
          <div class="location-container">
            <img src="/images/icon-location-light.png" alt="" />
            <p>경기도 안산시 단원구 와동 사세충열로 94</p>
          </div>
          <div class="mail-container">
            <img src="/images/icon-email-light.png" alt="" />
            <p>jungin7612@dimigo.hs.kr</p>
          </div>
          <div class="phone-container">
            <img src="/images/icon-phone-light.png" alt="">
            <p>010-2213-4083</p>
          </div>
        </div>
        <div class="navi-container">
          <div class="navi-content">
            <p class="navi-title">Codebakery</p>
            <a href="#">김정인</a> <br>
            <a href="#">장정인</a> <br>
            <a href="#">주자훈</a> <br>
          </div>
        </div>
      </div>
      <div class="bottom-container">
        <div class="copyright-container">
            ㅇ
        </div>
        <div class="social-container">
            ㅇㄴ
        </div>
      </div>
    </div>
  </footer>
  <script src="/javascript/index.js"></script>
</body>
</html>
<script>
  (function(d) {
    var config = {
      kitId: 'hzw3pup',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>