<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schoolmate</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <header id="header">
      <nav class="container">
        <div class="location-container">
          <img src="/images/icon-location.png" alt="" />
          <p>경기도 안산시 단원구 와동 사세충열로 94</p>
        </div>
        <div class="mail-container">
          <img src="images/icon-email.png" alt="" />
          <p>jungin7612@dimigo.hs.kr</p>
        </div>
      </nav>
      <div class="mainNav-container">
        <div class="logo-container">
          <img src="images/icon-logo.png" alt="" />
          <a href="#">Schoolmate</a>
        </div>
        <nav class="main-nav">
          <a href="#" class="transition hover-class">
            <p>Home</p>
          </a>
          <a href="#" class="transition hover-class">
            <p>게시판</p>
          </a>
          <a href="#" class="transition hover-class">
            <p>문제 풀기</p>
          </a>
          <a href="#" class="transition hover-class">
            <p>학습 플래너</p>
          </a>
          <% if(status=== true) {%><!-- profile -->
          <div class="aco-container">
            <div class="profile-container">
              <div class="profile-img"></div>
              <div class="welcome-container">
                <p>안녕하세요.</p>
                <p><span id="name"><%= name %> </span>학생</p>
              </div>
              <i class="fas fa-bars aco-click"></i>
            </div>
            <div class="panel-container">
              <div class="alarm">
                <i></i>
                <a href="#">알람</a>
              </div>
              <div class="alarm">
                <i></i>
                <a href="#">개인정보 수정</a>
              </div>
              <div class="alarm">
                <i></i>
                <a href="#">My page</a>
              </div>
              <div class="logout">
                <i></i>
                <a href="/" id="logout">logout</a>
              </div>
            </div>
          </div>
          <!-- profile -->
          <%} else {%>
          <a href="/sign" class="sign-box"><p id="signIn">Sign in</p></a>
          <%}%>
        </nav>
      </div>
    </header>
    <script src="/javascript/profile.js"></script>
  </body>
</html>
