@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-style: normal;
}
:root {
  --yellow: #fdc800;
  --mint: #46d986;
  --aqua: #11c7c7;
  --gray: #f0f4f9;
  --darkgray: rgb(199, 199, 199);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
html,
body {
  height: 100%;
}
.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f0f4f9;
  border-bottom: 1em solid var(--aqua);
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6em;
  width: 20%;
}
.logo-container img {
  width: 66px;
  height: 52px;
  margin-right: 1em;
}
.logo-container a {
  font-family: "Inter", sans-serif;
  font-size: 28px;
}

/* body */
article {
  height: 86%;
  background-image: url("../images/signin_background.png");
  background-size: cover;
}
.wrap {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8em;
  right: 8em;
  width: 30rem;
  height: 35rem;
  background-color: var(--gray);
  border-radius: 3em;
  box-shadow: 20px 20px 60px #acacac, -20px -20px 60px var(--gray);
}

.signText-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
}
.signText-container h1 {
  font-size: 2em;
  font-family: adobe-gothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* credentials -container */
.credentials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}
.email-group,
.pwd-group {
  width: 100%;
  height: 100%;
}
.email-group input,
.pwd-group input {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  padding-left: 1em;
  font-size: 1.4em;
}
.pwd-group input {
  border-top: 1px solid var(--darkgray);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
input::placeholder {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: #acacac;
}
.input-cotainer {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid var(--darkgray);
}

/* footer block */
.footer-block {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-block form {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button,
.signUp-button {
  cursor: pointer;
  width: 80%;
  height: 40%;
  background-color: var(--aqua);
  color: white;
  border: none;
  border-radius: 0.3em;
  font-size: 1.5em;
  font-family: adobe-gothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
}
.signUp-block {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.forgot-block {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.note span {
  color: var(--aqua);
  cursor: pointer;
}

/* signUp CSS */
.margin-bottom {
  margin-bottom: 2em;
}
.input2-container {
  display: flex;
  width: 80%;
  height: 30%;
  justify-content: space-between;
  align-items: center;
}
.name-group,
.age-group {
  width: 45%;
  height: 70%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* footer */
.policy-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-group input,
.age-group input {
  border: none;
  height: 100%;
  width: 100%;
  border: 1px solid var(--darkgray);
  border-radius: 0.4em;
  padding-left: 1em;
  font-size: 1em;
}
#and {
  color: black;
  cursor: default;
}
.signUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;
}
.signUp-input {
  height: 60%;
}
.signUp-note {
  height: 50%;
}
/* sign js event */
.signUp-visiable {
  display: none;
}

.signIn-visiable {
  display: flex;
}
