:root {
  --yellow: #fdc800;
  --mint: #46d986;
  --bluemint: #11c7c7;
  --gray: #f0f4f9;
  --darkgray: #bdbdbd;
  --deepblue: #002147;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.searchTerm {
  width: 70%;
  border: 3px solid var(--bluemint);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--bluemint);
  background: var(--bluemint);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.search-wrap {
  width: 100%;
}

.questionDetail-all-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.questionDetail-wrap {
  width: 73%;
  display: flex;
  flex-direction: column;
}
.questionDetail-text-group {
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
}
#questionAfter {
  color: red;
  font-size: 1.8em;
  font-family: "NanumSquareRound";
}
#questionAfter::after {
  content: ":";
  color: black;
  margin: 0 0.3em;
}

.questionText {
  font-size: 1.8em;
  font-family: "NanumSquareRound";
}

.questionDetailTextarea {
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.name-timestamp-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: var(--darkgray);
  font-family: "NanumSquareRound";
}
#writer_id::after {
  content: "/ ";
  margin-left: 0.5em;
}
#writer_id {
  margin-right: 0.5em;
}
.answerBtn-group,
.postAnswerBtn-group {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: flex-end;
  align-items: center;
}

.answerBtn,
.postAnswerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 7vh;
  cursor: pointer;
  border: 1px solid var(--bluemint);
  border-radius: 0.5em;
  font-weight: 600;
}

/* answer */

.answer-wrap {
  display: none;
}
.answer-wrap.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  border: 1.5px solid var(--darkgray);
  border-radius: 2em;
  margin-bottom: 3em;
}

.answer-container {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.h1Text-box {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 0 0.8em 0;
  border-bottom: 2px solid var(--darkgray);
  margin-bottom: 3em;
}
.h1Text-box h1 {
  font-family: "Cafe24Ssurround";
  font-size: 2vw;
  margin-right: 1em;
}

.h1Text-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.75em;
  color: black;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid var(--yellow);
  height: 2em;
  border-radius: 0.25em;
}

.h1Text-box input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.answer-container {
  margin-bottom: 2em;
}
#main-textcontent {
  resize: vertical;

  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1vw;
}

/* mentor Answer */
.mentor-text {
  font-size: 2.5em;
}
.mentor-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em;
  border: 1px solid var(--darkgray);
  border-radius: 0.3em;
}

.answerFooter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.answerWriterID::after {
  content: "/ ";
  margin-left: 0.5em;
}

.postStar-container {
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--yellow);
  border-radius: 0.3em;
}
