@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-style: normal;
}
:root {
  --yellow: #fdc800;
  --mint: #46d986;
  --aqua: #11c7c7;
  --gray: #f0f4f9;
  --deepblue: #002147;
  --bluemint: #11C7C7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 100%;
  height: 48px;
  background-color: var(--aqua);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
header .location-container {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-content: center;
}
header .location-container img {
  width: 24px;
  height: 24px;
}
header .mail-container {
  display: flex;
  width: 15%;
  justify-content: space-around;
  align-items: center;
  margin-left: 5em;
}
header .mail-container img {
  width: 24px;
  height: 24px;
}

header > .main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--gray);
}
header .logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 18%;
}
.logo-container img {
  width: 66px;
  height: 52px;
}
.logo-container a {
  font-family: "Inter", sans-serif;
  font-size: 28px;
}
.main-nav {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: "NanumSquareRound";
  font-weight: 800;
  font-size: 16px;
}
.transition {
  width: 15%;
  border-radius: 0.5em;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hover-class:hover {
  height: 50%;
  background-color: var(--yellow);
}
.sign-box {
  background-color: var(--gray);
  width: 115px;
  height: 44px;
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signIn {
  color: white;
}

/* profile css */
.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1em;
  background-color: var(--mint);
  width: 30%;
  height: 70%;
}
.profile-img {
  border-radius: 50%;
  width: 59px;
  height: 59px;
  background-image: url("https://image.bugsm.co.kr/artist/images/1000/801144/80114466.jpg");
  background-position: center;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  color: white;
}
#name {
  color: black;
}

/* 김민유 코드 */

.footer-container {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: var(--deepblue);
  align-content: flex-end;
}

.footer-container .main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo */

.footer-container .logo-container {
  display: flex;
  align-items: center;
}

.footer-container .logo-container img {
  width: 66px;
  height: 52px;
  margin-right: 20px;
}

.footer-container .logo-container a {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: white;
}


/* information */

.footer-container .information-container {
  height: auto;
  display: block;
  color: white;
}

footer .location-container,
footer .mail-container,
footer .phone-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

footer img {
  margin-right: 5px;
}

/* bottom navi */

.navi-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
